<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="dbAssign.Properties.Settings.AssignDatabaseConnectionString"
            connectionString="Data Source=DESKTOP-13E2GUH\SQLEXPRESS;Initial Catalog=AssignDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>